@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @{ 
        string name = "Dutta";
        int age = 23;
    }
</head>
<body>
   
    <div>
        Enter Name: <input type="text" value="@name" />
        Enter Age: <input type="number" value="@age" />
    </div>
</body>
</html>
