
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <tr>
        <th>@Html.ActionLink("Create Order ", "CreateOrder")</th>
        <th>@Html.ActionLink("View Order ", "ViewOrder")</th>
    </tr>   
</table>